<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='card shadow p-3 mb-5 bg-white rounded'>
    <div class='card-body'>
      <h3 class='card-title'>Sign Up</h3>
      <div class="form-group mg-4 mt-2">
        <%= form.label :username%>
        <%= form.text_field :username, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :fullname %>
        <%= form.text_field :fullname, class:"form-control" %>
      </div>
      <div class="form-group">
        <h6>Profile picture</h6>
        <%= form.file_field :photo, class:"form-control-file" %>
      </div>
      <div class="form-group">
        <h6>Cover Image</h6>
        <%= form.file_field :coverImage, class:"form-control-file" %>
      </div>
      <div class="action">
        <%= form.submit 'Sign Up', class:'btn btn-success' %>
      </div>
    </div>
  </div>
  
  
<% end %>
