<p id="notice"><%= notice %></p>

<%= render 'shared/sidebar'%>
<div class="row w-100 text-center text-uppercase">
  <div class="col-8 border-right">
    <div class="image">
      <% if @user.photo.attached?%>
      <%= image_tag(@user.coverImage, class:"w-100 h-50 border-bottom pb-2 pr-0") %>
      <% end %>
      
    </div>
    <div class="w-100 border-bottom">
      <p>Tweets</p>
    </div>
    <div class="card ml-5 h-5 mt-5">
        <div class="card-body">
          <h5 class="card-title text-left">Tweets</h5>
         <% @opinions.sort.reverse.each do |opinion|%>
            <%= opinion.text%><br>
         <% end %>
                
        </div>
    </div>
  </div>
  <div class="col-4 text-center text-uppercase">
    <div class="w-100 border-bottom">
      <p>Profile</p>
      <%= render "shared/profile_details"%>
       <%ids = @user.followers.pluck(:id)%>
      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_path(@user.id)%>
      <% elsif ids.include?(current_user.id)%>
        <%= link_to 'Unfollow', unfollow_user_path, method: 'post' %>
      <% else %>
         <%= link_to 'Follow', follow_user_path, method: 'post' %>
      <% end %>

    </div>
  </div>
</div>