<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>
<p>
  <strong>Photo:</photo><br>
  <%= image_tag (@user.photo) if @user.photo.attached?%>
</p>
<p>
  <strong>Cover:</photo><br>
  <%= image_tag (@user.coverImage) if @user.coverImage.attached?%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
