<div class="profile_image border-bottom">
    <%= renderPhoto(@user) %>
    <div class="details text-center">
    <%= @user.fullname %>
    <p>@<%= @user.username %></p>
   
</div>
<div class="specific-details">
        <div class="tweets-count">
            <h6><%= tweets_count(@user)%></h6>
            <p>Tweets</p>
        </div>
        <div class="following-count">
            <h6><%= following_count(@user)%></h6>
            <p>Following<p>
        </div>
        <div class="followers-count">
            <h6><%= followers_count(@user)%></h6>
            <p>Followers<p>
        </div>
    

    
</div>
</div>
